<div class="container">
  <div class="row">
    <div class="col s3"></div>
    <div id="title" class="col s6"><h1>B-B-B-B-Bowties</h1></div>
    <div class="col s3"></div>
  </div>
  <div class="row">
    <div class="col s5"></div>
    <div id="addContent" class="col s2"><a class="waves-effect waves-light btn">Add New Bowtie</a></div>
    <div class="col s5"></div>
  </div>
</div>
<div class="container">
  <div id="content" class="row"></div>
</div>